.form_css {
border: 1px dotted black;
width: 640px;
margin: 20px auto;
}

form{
  padding: 20px 20px 20px 20px;
  width:400px;
/*   border:1px solid blue; */
/*   margin: 0 auto; */
}
.add
{
/*   border:1px solid red; */
   margin :0 auto;
}


/* p

h1

html
body
<div id ="name"></div>
#name{
   */
}
