<%= erb :header %>

<div class="container">
  <table border="1" style="width:100%">
    <% @category_list.each do |category|%>
      <tr>
        <p id = "categories"><a href = "/categories/<%= category.id %>"><%=category.category%></a></p>
      </tr>
   <%end%>
 </table>
  </div>

