
<div class="container">
  <br><h1><b>Category: <%= @category.name %> </b></h1><br><br>

  <h2><b>Posts for this category:</b></h2>
  <div class="container">
  <table border="1" style="width:100%">
    <% @posts.each do |post|%>
      <tr>
        <p id = "posts"><a href = "/posts/<%= post.id %>"><%= post.title%></a></p>
      </tr>
   <%end%>
 </table>
  </div>
 
</div>
<div class="form_css">
  <div class="add">
      <h2><b>New post:</b></h2><br>
 <form action = "/categories/<%= @category.id %>/new" method = "post">
      Post Title: <textarea name = "title" placeholder="Post title"></textarea><br>
      Post Description: <textarea name = "description" placeholder="Post description"></textarea><br>
      Post Compensation: <textarea name = "compensation" placeholder="Compensation"></textarea><br>
      Poster Name:<textarea name = "poster_name" placeholder="Poster name"></textarea><br>
       Poster email:<textarea name = "email" placeholder="Poster email"></textarea><br>
      Poster phone number:<textarea name = "phone_number" placeholder="Poster phone number"></textarea><br>
      Location:<textarea name = "location" placeholder="Poster location"></textarea><br>
      Postcode:<textarea name = "postcode" placeholder="Poster postcode"></textarea><br> 
      </textarea><br>
    <button class="btn btn-primary" input type="submit">Create Post!</button>
</form> </div></div>